openai
edge-tts
SpeechRecognition
pyttsx3
requests
pyautogui
chromadb
opencv-python>=4.10.0,<5.0.0
websockets
pydantic
pyyaml
pyinstaller
pyaudio
numpy
python-dotenv
customtkinter
pygame
psutil
pyperclip